.users-content div, .users-title div, .admin-user div {
    min-width: 130px;
}

.admin-user div:nth-child(3), .admin-user div:nth-child(1){
    min-width: 180px;
}

.users-content div:nth-child(1), .users-title div:nth-child(1) {
    min-width: 40px;
}

.users-content {
    margin-bottom: 5px;
}

.new-admin {
    color: whitesmoke;
    background-color: gray;
    font-size:14px;
    grid-column: 8;
    border: 0.5px solid;
    border-radius: 5px;
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px
}