
.main {
    padding-top: 7%;
    margin-left: 25%;
    margin-right:8%;
    position: relative;
}

.main-top {
    display: grid;
}

.heading{
    color: #4A4A4A;
    font-size: 28px;
    line-height: 24px;
    text-align: left;
    grid-column: 1;
    margin-bottom: 30px;
}

.date {
    grid-column: 2;
}

.date-section {
    border: 0.5px solid #ECECEC;
    border-radius: 15px;
    height:35px;
    padding-left: 5px;
    font-size: 15px;
    width: 70%;
    color: #4A4A4A;
}

.search {
    grid-column: 5;
    position: relative;
    margin-right: 10px;
}

.search-bar { 
    border-radius: 5px;
}

.search input[type=search] {
    border: 0.5px solid #C0C0C0;
    border-radius: 5px;
    width: 100%;
    height: 80%;
    text-indent: 15%;
    align-items: flex-end;
}

.search .fa-search {
    position: absolute;
    top: 30%;
    bottom: 50%;
    left: 5%;
    background: #FFFFFF;
    height: auto;
    width: auto;
}

.main-below {
    display: block;
    text-align: left;
}

.section-1, .summary{
    opacity: 0.6111865942028986;
    height: 28rem;
    width: 48%;
}

.section-1 {
    float: left;
    display: block;
    border: transparent;
}

.customers, .redemption-value, .points-redeemed, .cash-spend{
    background-color: #FFFFFF;
    border-bottom: 3px;
    border: 0.5px solid rgb(211, 194, 194);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height:70%;
    width: 45%;
    margin: 1%;
}

.customers {
    border-bottom: solid rgb(226, 17, 17);
    float: left;
}

.redemption-value {
    border-bottom: solid rgb(96, 226, 113);
    float: right;
}

.points-redeemed {
    border-bottom: solid rgb(65, 156, 144);
    float: left;
}

.cash-spend {
    border-bottom: solid rgb(141, 18, 145);
    float: right;
}

.description {
    font-size: 19px;
    font-weight: 500;
    margin-left: 10%;
    margin-top: 4%;
}

.values {
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15%;
    margin-left: 10%
}


.summary {
    float: right;
    display: block;
    margin: 10px;
    height: 40rem;
    border: 0.5px solid rgb(211, 194, 194);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.summary-heading {
    padding: 4% 5% 2% 5%;
    display: grid;
    border-bottom: 0.5px solid #979797;
}
 
.summary-key{
    font-size: 19px;
    font-weight: 500;
    margin-top: 4%;
    margin-bottom: 2%;
}

.summary-value{
    font-size: 24px;
    font-weight: 800
}

.sum-disp {
    display: grid; 
    margin: 5%;
}

.sum-disp-1 {
    grid-column: 1;
}

.sum-disp-2 {
    grid-column: 4;
}

@media screen and (max-height: 600px) {

}

@media screen and (max-width: 1350px) {
    .values {
        font-size: 30px;
        margin-top: 2%;
    }

    .description {
        font-size: 19px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1050px) {
    .main-below {
        display: grid;
    }

    .section-1{
        border: none;
        opacity: 0.6111865942028986;
        height: 28rem;
        width: 100%;
    }

    .summary {
        margin-top: 50%;
        border: 0.5px solid #979797;
        opacity: 0.6111865942028986;
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .main-top {
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }
    
    .heading{
        color: #4A4A4A;
        font-size: 28px;
        line-height: 24px;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .date-style {
        width: 100%;
    }
    
    .search {
        width: 100%;
        margin-right: 10px;
        margin-top: 10px;
        height: 50px;      
    }

    .main-below {
        display: flex;
        flex-direction: column;
    }
    
    .customers, .redemption-value, .points-redeemed, .cash-spend{
        background-color: #FFFFFF;
        border-bottom: 3px;
        border: 0.5px solid rgb(211, 194, 194);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        height:60%;
        width: 100%;
        margin: 3% 0 3% 0
    }
    
    .customers {
        border-bottom: solid rgb(226, 17, 17);
    }
    
    .redemption-value {
        border-bottom: solid rgb(96, 226, 113);
    }
    
    .points-redeemed {
        border-bottom: solid rgb(65, 156, 144);
    }
    
    .cash-spend {
        border-bottom: solid rgb(141, 18, 145);
    }

    .summary {
        margin: 48em 0 10% 0;
    }

    .sum-disp {
        display: flex;
        flex-direction: column;
        margin: 5%;
    }

    .main {
        padding-top: 7%;
        margin-left: 70%;
        margin-right:8%;
        position: relative;
    }
}

@media screen and (max-width: 1320px) {
    .main {
        padding-top: 7%;
        margin-left: 32%;
        margin-right:8%;
        position: relative;
    }
}