
.main {
    padding-top: 80px;
    margin-left: 300px;
    margin-right:50px;
    position: relative;
}

.main-top {
    display: grid;
}

.heading{
    color: #4A4A4A;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    grid-column: 1;
    margin-bottom: 30px;
}

.date-section {
    border: 0.5px solid #ECECEC;
    border-radius: 10px;
    height:15px;
    padding-left: 5px;
    font-size: 12px;
    color: #4A4A4A;
}

.search {
    grid-column: 10;
    position: relative;
}

.search-button { 
    border-radius: 5px;
}

.search input[type=search] {
    border: 0.5px solid #C0C0C0;
    border-radius: 5px;
    width: auto;
    height: 30px;
    text-indent: 32px;
}

.search .fa-search {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #FFFFFF;
    height: fit-content;
    width: auto;
}

.customers, .redemption-value, .points-redeemed, .cash-spend{
    background-color: #FFFFFF;
    border: 0.5px solid #D6D6D6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 43%;
    margin: 10px;
}

.main-below {
    display: block;
    text-align: center;
}

.section-1, .summary{
    border: 0.5px solid #979797;
    opacity: 0.6111865942028986;
    height: 450px;
    width: 48%;
}

.section-1 {
    float: left;
    display: block;
    border: transparent;
}

.summary {
    float: right;
}

.customers {
    float: left;
}

.redemption-value {
    float: right;
}

.points-redeemed {
    float: left;
}

.cash-spend {
    float: right;
}



@media screen and (max-height: 600px) {
    .main-top .search {
        float: none;
    }
    .main-top {
        margin-right: 50px;
    }
    .main-top input[type=text] {
        border: 1px solid #ccc;
    }
}

@media screen and (max-width: 650px) {
    /* .main {
        position: fixed;
    } */
}