.rewards-portal {
    color: #2F2D2E;
    background: white;
    font-family: CircularStd;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 29px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 2;
}

.rewards-logo {
    height: 20px;
    min-width: 11%;
}

.icon-right {
    text-align: right;
    margin-right: 50px;
    float: right;
    width: fit-content
}