.rewards-portal {
    color: #2F2D2E;
    background: white;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 29px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    z-index: 2;
    border: 0.5px solid #D6D6D6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.rewards-logo {
    margin: 1%;
    height: 40%;
}

.icon-right {
    margin-right: 5%;
    float: right;
    height: 40%;
    font-size: 70%;
}