.rewards-portal {
    color: #2F2D2E;
    background: white;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 29px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    z-index: 2;
    border: 0.5px solid #D6D6D6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.rewards-logo {
    margin: 1%;
    height: 40%;
}

.icon-right {
    margin-right: 5%;
    float: right;
    height: 40%;
    font-size: 70%;
}

.icon-right i {
    color: white;
    background-color:grey;
    border-radius:30px
}

.drop-down-content {
    display:none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 100%;
}

.drop-down-content a {
    color: black;
    padding-left: 5%;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-down-content a:hover {
    background-color: #ddd;
}

.drop-down:hover .drop-down-content {
    display: block;
}