.custom-range-content {
    margin: 0 18px;
}

.custom-range-content p{
    cursor: default;
    background-color: #F1F1F1;
}

.custom-range-content p:hover{
    color: black;
    background-color: #F1F1F1;

}
