.main-below-p {
    display: grid;
    grid-template-columns: 100% 100%;
    min-width: 100%;
    padding-top: 3%;
}

.partner-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.partner-form label {
    display: block;
    font-size: 20px
}

.partner-form div {
    margin: 20px;
}

.partner-form input {
    padding: 0.7em;
    width: 100%;
    font-size: 20px;
    border: 1px solid #000;
}

.no-partner{
    color: #C0C0C0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 17px;
    text-emphasis: after 1px; 
    text-align: left;
    display: block;
}

.partners {
    position: relative;
    padding: 20% 30%;
}

.create-1 {
    color: red;
}

.cancel-create {
    margin-left: 10%;
    width: 30%;
    float: left;
}

.submit-create {
    margin-left: 0;
    width: 50%;
    float: left;
}

.no-partner, .yes-partner{
    color: #4A4A4A;
    font-size: 20px;
    background-color: #FFFFFF;
    border: 2px dotted rgba(151, 151, 151, 0.6);
    border-radius: 5px;
    width: fit-content;
    padding: 4%;
    background-size: inherit;
}

.partner-action input[type="submit"], .partner-action input[type="button"] {
    font-size: 18px;
    cursor: pointer;

}

.partner-action input[type="submit"]:hover, .partner-action input[type="button"]:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.submit, .cancel {
    padding-left: 5px;
    padding-right: 5px;
    color: #FFFFFF;
    border-radius: 3px;
}

.submit {
    background-color: red;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.13);
}

.cancel {
    background-color: grey;
}

@media screen and (max-width: 800px) {
    .no-partner {
        margin-left: 0%;
        width: auto;
    }
}


@media screen and (max-width: 1000px) {
    .rectangle {
        float: none;
        margin-bottom: 10px;
        width: 80%;
    }
    
    .rectangle-1 {
        margin-bottom: 10px;

    }
}

@media screen and (max-width: 1380px) {
    .cancel-create {
        margin-left: 0;
        width: 20%;
        float: left;
    }
    
    .submit-create {
        margin-left: 0;
        width: 60%;
        float: left;
    }

    .partner-form label {
        display: block;
        font-size: 16px
    }
    
    .partner-form div {
        margin: 10px;
    }
    
    .partner-form input {
        padding: 0.7em;
        width: 80%;
        font-size: 20px;
        border: 1px solid #000;
    }

    .submit, .cancel {
        padding-left: 5px;
        padding-right: 5px
    }

    .partner-action input[type="submit"], .partner-action input[type="button"] {
        font-size: 14px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1330px) {
    .submit, .cancel {
        /* font-size: 13px; */
        padding-left: 5px;
        padding-right: 5px
    }
}

@media screen and (max-width: 800px) {
    .cancel-create {
        margin-left: 0;
        width: 30%;
        float: left;
    }
    
    .submit-create {
        margin-left: 0;
        width: 100%;
        float: left;
    }

    .partner-form label {
        display: block;
        font-size: 14px
    }
    
    .partner-form div {
        margin: 10px;
    }
    
    .partner-form input {
        padding: 0.7em;
        width: 80%;
        font-size: 18px;
        border: 1px solid #000;
    }

    .submit, .cancel {
        padding-left: 5px;
        padding-right: 5px
    }

    .partner-action input[type="submit"], .partner-action input[type="button"] {
        font-size: 14px;
    }
}

@media screen and (max-width: 760px) {
    .main-below-p {
        padding-right: 15px;
        width: 500px;
    }
    
}