.main-below-p {
    display: grid;
    grid-template-columns: 100% 100%;
    min-width: 100%;
    padding-top: 3%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

form label {
    display: block;
    font-size: 20px
}

form div {
    margin: 20px;
}

input {
    padding: 1em;
    width: 100%;
    min-height: 30px;
    border: 1px solid #000;
}

.no-partner{
    color: #C0C0C0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 17px;
    text-emphasis: after 1px; 
    text-align: left;
    display: block;
}

.partners {
    position: relative;
    padding: 20% 30%;
}

.create-1 {
    color: red;
}

.no-partner, .yes-partner{
    color: #4A4A4A;
    font-size: 20px;
    background-color: #FFFFFF;
    border: 2px dotted rgba(151, 151, 151, 0.6);
    border-radius: 5px;
    width: fit-content;
    padding: 4%;
    background-size: inherit;
}

.submit {
    background-color: red;
    color: #FFFFFF;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.13);
}

.cancel {
    background-color: grey;
    color: #FFFFFF;
    border-radius: 3px;
}

@media screen and (max-width: 800px) {
    .no-partner {
        margin-left: 0%;
        width: auto;
    }
}


@media screen and (max-width: 1000px) {
    .rectangle {
        float: none;
        margin-bottom: 10px;
        width: 80%;
    }
    
    .rectangle-1 {
        margin-bottom: 10px;

    }
}