.main-below-p {
    position: relative;
}

.merchant-top, .no-partner{
    color: #C0C0C0;
    font-family: CircularStd;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 17px;
    text-emphasis: after 1px; 
    text-align: left;
    display: block;
}

.partners {
    position: relative;
}

.create-1 {
    color: red;
}

.no-partner, .yes-partner{
    color: #4A4A4A;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 0.5px dotted rgba(151, 151, 151, 0.6);
    border-radius: 5px;
    width: fit-content;
    height: auto;
    background-size: inherit;
}

.rectangle {
    background-color: #FBFBFB;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    width: 40%;
    height: 35px;
    padding: 5px 35px 0px 10px;
    margin-bottom: 20px;
}

.rectangle-x {
    border: none;
    border-radius: 3px;
    width: 40%;
    height: 35px;
    padding: 5px 35px 6px 16px;
    margin-bottom: 20px;
}

.rectangle-1 {
    float: left;
}

.rectangle-2 {
    float: right;
}

.input-box {
    border: none;
    color: #868E96;
    font-family: CircularStd;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.23px;
    line-height: 25px;
    width: 100%;
    text-align: left;
}

.submit {
    background-color: red;
    color: #FFFFFF;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.13);
}

.cancel {
    background-color: grey;
    color: #FFFFFF;
    border-radius: 3px;
}
@media screen and (max-width: 800px) {
    .no-partner {
        margin-left: 0%;
        width: auto;
    }
}


@media screen and (max-width: 1000px) {
    .rectangle {
        float: none;
        margin-bottom: 10px;
        width: 80%;
    }
    
    .rectangle-1 {
        margin-bottom: 10px;

    }
}