* {
    box-sizing: content-box;
}

.iconss {
    color: "#9B9B9B"
}

.sidebar-nav {
    background-color: #2F2D2E;
    background-size: cover;
    width: 15%;
    height: 100%;
    left: 0;
    z-index: 1;
    position: absolute;
    overflow-x: hidden;
    padding-left: 2%;
    padding-top: 13%;
}

.uba-logo {
    width: 40%;
    height: 40%;
    margin-bottom: 20px;
}

.sidebar-link, .sub-sidebar-link {
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 17px;
    text-emphasis: after 1px; 
    text-align: left;
    text-decoration-line: none;
    display: block;
    margin-bottom: 15%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: relative;
    z-index: 1;
    margin-left: 30px;
    margin-top: 10px;
    display: none;
}

.sidebar-link span:hover, .sub-sidebar-link span:hover {
    color: #FFFFFF
}

@media screen and (max-height: 450px) {
    .sidebar-nav {padding-top: 15px;}
    .sidebar-link {font-size: 18px;}
}