* {
    box-sizing: content-box;
}

.iconss {
    color: "#9B9B9B"
}

.sidebar-nav {
    background-color: #2F2D2E;
    background-size: cover;
    width: 300px;
    height: 100%;
    left: 0;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    padding-left: 2%;
    padding-top: 10%;
    display: block;
}

.sidebar-nav a:focus {
    color: white
}

.uba-logo {
    width: 40%;
    height: 40%;
    margin-bottom: 20px;
}

.sidebar-link, .sub-sidebar-link {
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 17px;
    text-emphasis: after 1px; 
    text-align: left;
    text-decoration-line: none;
    display: block;
    margin-bottom: 15%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: relative;
    z-index: 1;
    margin-left: 3em;
    margin-top: 10px;
    display: none;
}

.sidebar-link span:hover, .sub-sidebar-link span:hover {
    color: #FFFFFF
}

.sidebar-bottom {
    font-size: 17px;
}


@media screen and (max-width: 1850px) and (max-height: 700px) {
    .sidebar-nav {
        padding-top: 15%;
    }
}

@media screen and (max-width: 1750px) and (max-height: 890px) {
    .sidebar-nav {
        padding-top: 10%;
    }
}

@media screen and (max-width: 1750px) and (max-height: 820px) {
    .sidebar-nav {
        padding-top: 5%;
    }
}

@media screen and (max-width: 1750px) and (max-height: 630px) {
    .sidebar-nav {
        padding-top: 2%;
    }
}

@media screen and (max-width: 1160px) {
    .sidebar-nav {
        padding-top: 15%;
    }
}




