
#login-body{
    background: url('../../assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10% 36% 15% 36%;
}

.login-card {
    opacity: 0.95;
    width: 350px;
    height: 500px;
    background-color: #FFFFFF;
    border: 0.5px solid rgba(151, 151, 151, 0.6);
    border-radius: 5px;
    padding: 25px;
}

.login-header {
    display: inline;
}

.sign-in {
    color: #2F2D2E;
    font-size: 2.5em;
    font-weight: bold;
    float: left;
    padding: 8px 0;
}

.uba-logo-login {
    float: right;
    height: 60px;
}
  
.login-form {
    display: grid;
    margin-top: 100px;
    grid-gap: 10px;
}

.login-form label {
    text-align: left;
    color: #7F7F7F;
    font-size: 18px;
    text-align: left;
}

.login-form input {
    background-color: #FFFFFF;
    border: 0.5px solid rgba(151, 151, 151, 0.48);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    height: 2em;
    font-size: 1.5em;
    padding: 0 10px;
}

.forgot-password {
    color: #9B9B9B;
    margin-bottom: 10px;
    text-decoration-line: none;
}

.login-form input[type="submit"], .login-form button {
    border: none;
    background-color: red;
    color: white;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.no-account {
    color: #2F2D2E;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 5px 0;
}
  
.request-access-button {
    border: 1px solid #C82B1D;
    background-color: white;
    text-align: left;
    padding: 20px;
    font-size: 18px;
}

.request-access-text {
    color: #C82B1D;
    font-weight: bold;
}


@media screen and (max-width: 1214px) {

    #login-body{
        padding-right: 26%;
        padding-left: 26%;
    }
}

@media screen and (max-width: 600px) {

    #login-body{
        padding-right: 15%;
        padding-left: 15%;
    }
}

@media screen and (max-width: 450px) {

    #login-body{
        width: 100%;
        height: 100%;
        padding-right: 2%;
        padding-left: 3%;
    }
}

@media screen and (max-width: 360px) {

    #login-body{
        width: 350px;
    }
    
    .login-card {
        width: 300px;
        padding: 15px;
    }
}

@media screen and (max-height: 750px) {
    #login-body {
        padding-top: 5%;
        padding-bottom: 15%;
    }
}

@media screen and (max-height: 600px) {
    #login-body {
        padding-bottom: 5%;
        height: 600px;
    }
}