
.login-card {
    background-color: #FFFFFF;
    border: 0.5px solid rgba(151, 151, 151, 0.6);
    margin-left: 39%;
    margin-right: 39%;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 22%;
    height: auto;
    border-radius: 5px;
    position: absolute;
    padding: 2% 1.5%;
}

body {
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-header {
    display: inline;
}

.sign-in {
    color: #2F2D2E;
    font-size: 2.5em;
    font-weight: bold;
    float: left;
}

.uba-logo-login {
    float: right;
    /* width: 40%;
    height: 5em; */
    height: 70px;
}
  
.login-form {
    display: grid;
    margin-top: 30%;
    grid-gap: 10px;
}

.login-form label {
    text-align: left;
    color: #7F7F7F;
    font-size: 1.2em;
    line-height: 14px;
    text-align: left;
}

.login-form input {
    background-color: #FFFFFF;
    border: 0.5px solid rgba(151, 151, 151, 0.48);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    height: 2.2em;
    font-size: 1.5em;
    margin-top: 1%;
    margin-bottom: 3%;
    
    padding: 0 0.5em 
}

.forgot-password {
    color: #9B9B9B;
    font-size: 1em;
    font-weight: 200;
    line-height: 12px;
    text-align: left;
    margin-bottom: 4%;
    width: fit-content;
    text-decoration-line: none;
}

.login-form input[type="submit"], .login-form button {
    border: none;
    background-color: red;
    color: white;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.8em;
}

.no-account {
    color: #2F2D2E;
    font-size: 1em;
    font-weight: bold;
    line-height: 14px;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 3%;
}
  
.request-access-button {
    border: 1px solid #C82B1D;
    background-color: white;
    text-align: left;
    padding: 0.8em;
    font-size: 1.5em;
}

.request-access-text {
    color: #C82B1D;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1438px) {

    .login-card {
        background-color: #FFFFFF;
        border: 0.5px solid rgba(151, 151, 151, 0.6);
        margin-left: 39%;
        margin-right: 39%;
        margin-top: 10%;
        width: 30%;
        height: auto;
        border-radius: 5px;
        position: absolute;
        padding: 2% 1.5%;
    }
}

@media screen and (max-width: 1050px) {

    .login-card {
        background-color: #FFFFFF;
        border: 0.5px solid rgba(151, 151, 151, 0.6);
        margin-left: 25%;
        margin-right: 39%;
        margin-top: 15%;
        margin-bottom: 5%;
        width: 40%;
        height: auto;
        border-radius: 5px;
        position: absolute;
        padding: 2% 1.5%;
    }
}

@media screen and (max-width: 800px) {

    .login-card {
        background-color: #FFFFFF;
        border: 0.5px solid rgba(151, 151, 151, 0.6);
        margin-left: 22%;
        margin-right: 39%;
        margin-top: 20%;
        margin-bottom: 15%;
        width: 50%;
        height: auto;
        border-radius: 5px;
        position: absolute;
        padding: 2% 1.5%;
    }
}

@media screen and (max-width: 650px) {

    .login-card {
        background-color: #FFFFFF;
        border: 0.5px solid rgba(151, 151, 151, 0.6);
        margin-left: 15%;
        margin-right: 10%;
        margin-top: 5%;
        width: 60%;
        height: auto;
        border-radius: 5px;
        position: absolute;
        padding: 2% 1.5%;
    }
}