login-bg {
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.login-card {
    background-color: #FFFFFF;
    border: 0.5px solid rgba(151, 151, 151, 0.6);
    margin-left: 39%;
    margin-right: 39%;
    margin-top: 19%;
    margin-bottom: 20%;
    border-radius: 5px;
    min-width: fit-content;
    height: auto;
    background-size: inherit;
    
}

.login-form {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
}

.uba-logo {
    width: 73.6px;
    height: 40px;
}

.sign-in {
    color: #2F2D2E;
    font-family: CircularStd;
    font-size: 24px;
    font-weight: 900;
    line-height: 53.65px;
    float: left;
}

.sign-in-logo {
    float: right;
}
  
.login-header {
    display: inline
}

.login-email, .login-password{
    color: #7F7F7F;
    font-family: CircularStd;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.21px;
    line-height: 14px;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 2%;
}

.login-input {
    background-color: #FFFFFF;
    border: 0.5px solid rgba(151, 151, 151, 0.48);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    width: auto;
    height: 36px;
    margin-top: 1%;
    margin-bottom: 3%;
}

.forgot-your-password {
    color: #9B9B9B;
    font-family: CircularStd;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 3%;
}

.login-button {
    background-color: #C82B1D;
    width: 100%;
    height: 45px;
}

.login-text {
    color: #FFFFFF;
    font-family: CircularStd;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: start;
}

.no-account {
    color: #2F2D2E;
    font-family: CircularStd;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    margin-top: 3%;
}
  
.request-access-button {
    border: 1px solid #C82B1D;
    width: auto;
    height: 45px;
}

.request-access-text {
    color: #C82B1D;
    font-family: CircularStd;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
}
  