.settings {
    display: block;
    padding: 20px;
    overflow-x:auto;
}

th {
    text-align: left;
}

th, td {
    padding: 1%;
}

table {
    border-collapse: collapse;
    border-spacing: 1em;
    font-size: 18px;
    color: #9B9B9B;
}

tr.break td {
    height: 8px;
    margin-top: 0;
    padding: 0;
}

tr {
    margin-top: 100px;
}

 tr.bordered  {
    border-collapse: collapse;
    height: auto;
    border:1pt solid #C0C0C0;
}


@media screen and (max-width: 1200px) {
    th, td, tr.bordered  {
        border-collapse: collapse;
        height: auto;
        border:1pt solid #C0C0C0;
    }

    .settings {
        padding: 20px 0 0 0;
    }
}