.settings {
    display: block;
    padding: 20px;
    overflow-x:auto;
}

th {
    text-align: left;
}

th, td {
    padding: 1%;
}

table {
    border-collapse: collapse;
    font-size: 18px;
}

 td, tr.bordered  {
    border-collapse: collapse;
    height: auto;
    border:1pt solid #C0C0C0;
}


@media screen and (max-width: 1200px) {
    th, td, tr.bordered  {
        border-collapse: collapse;
        height: auto;
        border:1pt solid #C0C0C0;
    }

    .settings {
        padding: 20px 0 0 0;
    }
}