.settings {
    display: block;
    padding: 20px;
}

th {
    text-align: left;
}

th, td {
    padding: 1%;
}

table {
    border-collapse: collapse;
    font-size: 18px;
}

 tr.bordered  {
    border-collapse: collapse;
    height: auto;
    border:1pt solid black;
}

